body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.alphabet-buttons {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#intro-section {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}

.intro-content {
    flex-grow: 1;
}

#quotes-section {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    font-size: 18px;
    margin: 5px 0;
    text-align: left;
}

@media (max-width: 600px) {
    #intro-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .intro-content h2 {
        margin-top: 0;
    }
}

@media (min-width: 601px) {
    #quotes-section {
        text-align: left;
    }
}